@mixin enTitle() {
    font-family: 'Cinzel', serif;
    font-size: 1.4vw;

    @media all and (max-width:1024px) {
        font-size: 4.5vw;
    }
}

@mixin zhTitle() {
    font-family: 'Noto Serif TC';
    font-weight: 700;
    color: #40210f;
    font-size: 1.8vw;

    @media all and (max-width:1024px) {
        font-size: 45pt;
        font-size: 5.7vw;
    }
}

@mixin zhContent() {
    letter-spacing: 0.1em;
    font-size: 0.9vw;
    font-family: '微軟正黑體';
    color: #331e0a;
    line-height: 1.8vw;

    @media all and (max-width:1024px) {
        font-size: 3.4vw;
        line-height: 5.5vw;
    }
}

@mixin hint() {
    position: absolute;
    z-index: 99;
    color: white;
    bottom: 0.5vw;
    font-size: 16px;
    right: 1.5vw;
    text-shadow: rgb(37, 37, 37) 1px 0 10px;

    @media all and (max-width:1024px) {
        bottom: 1.5vw;
        right: 3vw;
    }

    @media all and (max-width:500px) {
        font-size: 10px;
    }
}

@mixin square() {
    padding: 0.3vw 0.6vw 0.3vw 0.7vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    font-family: "Noto Sans TC", sans-serif;
    letter-spacing: 0.1em;
    text-align: center;

    @media all and (max-width:1024px) {
        font-size: 2.3vw;
        padding: 0.5vw 1vw 0.5vw 1.3vw;
        border-radius: 1.5vw;
    }
}

@mixin formContent() {
    letter-spacing: 0.1em;
    font-size: 0.9vw;
    font-family: '微軟正黑體';
    color: #331e0a;
    width: 100%;
    background-color: rgb(255, 255, 255, 80%);
    margin-bottom: 1vw;
    padding: 0.8vw 1vw;
    display: flex;

    @media all and (max-width:1024px) {
        font-size: 3vw;
        padding: 2.5vw 3vw;
    }
}

@mixin formInput() {
    width: 60%;
    border: none;
    background: none;

    @media all and (max-width:1024px) {
        width: 75%;
    }
}