* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #fdd54c;
    background-image: url(/images/bg.webp);
    background-position: center;
    background-size: 110%;
}