.card1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;

    @media all and (max-width:1024px) {
        height: calc(var(--vh, 1vh) * 100);
    }

    .container {

        position: relative;

        .left-top-flower1 {
            position: absolute;
            top: -13vw;
            left: -2vw;
            z-index: 2;
            width: 25%;

            @media all and (max-width:1024px) {
                top: -22vw;
                left: -2vw;
                width: 45%;
            }
        }

        .left-top-flower2 {
            position: absolute;
            top: -9vw;
            left: -5vw;
            z-index: 1;
            width: 17%;

            @media all and (max-width:1024px) {
                top: -17vw;
                left: -10vw;
                width: 33%;
            }

        }

        .left-bottom-grass {
            position: absolute;
            bottom: -0.5vw;
            left: 0px;
            z-index: 1;
            width: 26%;

            @media all and (max-width:1024px) {
                width: 45%;
            }

            @media all and (max-width:500px) {
                width: 45%;
                bottom: 0vw;

            }
        }

        .right-bottom-flower1 {
            position: absolute;
            bottom: -1vw;
            right: 0px;
            z-index: 2;
            display: flex;
            justify-content: right;
            width: 10%;

            @media all and (max-width:1024px) {
                width: 14%;
                bottom: -1vw;
                right: 0px;
            }

            @media all and (max-width:500px) {
                bottom: 0vw;
            }
        }

        .right-bottom-flower2 {
            position: absolute;
            bottom: -1vw;
            right: 3vw;
            z-index: 1;
            display: flex;
            justify-content: right;
            width: 25%;

            @media all and (max-width:1024px) {
                width: 39%;
                bottom: -1vw;
                right: 3vw;
            }

            @media all and (max-width:500px) {
                bottom: 0vw;
            }
        }

        .right-bottom-flower3 {
            position: absolute;
            bottom: -1vw;
            right: 3vw;
            z-index: 3;
            display: flex;
            justify-content: right;
            width: 25%;

            @media all and (max-width:1024px) {
                width: 34%;
                bottom: 3vw;
                right: 7vw;
            }

            @media all and (max-width:500px) {
                bottom: 0vw;
                width: 40%;
            }
        }

        .left-bird {
            position: absolute;
            left: 3vw;
            bottom: 5vw;
            z-index: 4;
            width: 8%;

            @media all and (max-width:1440px) {
                left: 1vw;
                bottom: 3vw;
                width: 10%;
            }

            @media all and (max-width:1024px) {
                bottom: 7vw;
                width: 15%;
            }
        }

        .top-bird {
            position: absolute;
            right: 31vw;
            top: 7vw;
            z-index: 4;
            width: 10%;

            @media all and (max-width:1440px) {
                top: 10vw;
                right: 29vw;
                width: 14%;
            }

            @media all and (max-width:1366px) {
                width: 11%;
            }

            @media all and (max-width:1024px) {
                width: 23%;
                top: 23vw;
                right: 19vw;
            }

            @media all and (max-width:500px) {
                width: 30%;
                top: 27vw;
                right: 21vw;
            }
        }

        .center-box {
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            flex-direction: column;

            @media all and (max-width:1024px) {
                height: calc(var(--vh, 1vh) * 100);
            }

            .logo-box {
                display: flex;
                justify-content: center;
                width: 100%;

                img {
                    width: 25%;

                    @media all and (max-width:1024px) {
                        width: 56%;
                    }
                }
            }

            .slogan {
                display: flex;
                justify-content: center;
                width: 100%;
                flex-direction: column;
                margin-top: 2vw;

                @media all and (max-width:1024px) {
                    margin-top: 5vw;
                }

                .text-box {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    .text1 {
                        display: flex;
                        justify-content: center;
                        color: #205940;
                        font-size: 2vw;
                        font-family: 'Noto Serif TC';
                        font-weight: 700;
                        padding: 0.5vw 0vw;
                        border-bottom: 2px solid #40210f;

                        @media all and (max-width:1024px) {
                            font-size: 5.7vw;
                        }

                        @media all and (max-width:500px) {
                            border-bottom: 1px solid #40210f;
                            // letter-spacing: 0.05em;
                        }

                        @media all and (max-width:390px) {
                            // border-bottom: 1px solid #40210f;
                            letter-spacing: 0.05em;
                        }
                    }

                    .text2 {
                        display: flex;
                        justify-content: center;
                        color: #6b3307;
                        font-size: 1.73vw;
                        font-family: 'Noto Serif TC';
                        font-weight: 700;
                        padding: 0.5vw 0vw;
                        border-bottom: 2px solid #40210f;

                        @media all and (max-width:1024px) {
                            font-size: 5vw;
                        }

                        @media all and (max-width:500px) {
                            border-bottom: 1px solid #40210f;
                            // letter-spacing: 0.1em;
                        }
                    }
                }

            }

            .company-box {
                display: flex;
                justify-content: center;
                width: 100%;
                margin-top: 3vw;

                .company-text {
                    display: flex;
                    justify-content: space-between;
                    width: 17%;

                    @media all and (max-width:1680px) {
                        width: 100%;
                        justify-content: center;
                    }

                    .square {
                        display: flex;

                        .text-box {
                            background-color: #ffe175;
                            padding: 0.4vw 0.8vw;
                            border-radius: 0.5vw;
                            color: #205940;
                            font-family: 'Noto Sans TC', sans-serif;
                            font-weight: 700;
                            font-size: 1vw;

                            @media all and (max-width:1024px) {
                                padding: 1vw 2vw;
                                border-radius: 1.2vw;
                                font-size: 3vw;
                            }
                        }
                    }

                    .company {
                        align-self: center;

                        @media all and (max-width:1920px) {
                            display: flex;
                            justify-content: right;
                            align-self: right;
                        }

                        @media all and (max-width:1680px) {
                            width: 12%;
                        }

                        @media all and (max-width:1024px) {
                            margin-left: 5vw;
                            width: 31%;
                        }

                        img {
                            width: 100%;

                            @media all and (max-width:1920px) {
                                width: 85%;
                            }

                            @media all and (max-width:1680px) {
                                width: 80%;
                            }

                            @media all and (max-width:1024px) {
                                width: 100%;
                            }
                        }
                    }
                }

            }
        }
    }
}