.card4 {
    width: 100%;
    display: flex;
    position: relative;
    padding: 7vw 7.5vw 2vw 7.5vw;

    @media all and (max-width:1024px) {
        flex-direction: column-reverse;
        padding: 4vw;
        padding-bottom: 0vw;
    }

    .left {
        display: flex;
        flex-direction: column;

        @media all and (max-width:1024px) {
            flex-direction: column-reverse;
            margin-top: 8vw;
        }

        .top-flower {
            width: 100%;
            display: flex;
            justify-content: right;
            margin-bottom: 1.5vw;

            @media all and (max-width:1024px) {
                margin-bottom: 3vw;
                margin-top: -5vw;
            }

            img {
                width: 50%;
                display: block;

                @media all and (max-width:1024px) {
                    transform: rotateY(180deg);
                    width: 23%;
                }
            }
        }

        .text-box {
            display: flex;
            flex-direction: row-reverse;

            @media all and (max-width:1024px) {
                flex-direction: column;
                margin: 0 auto;
                margin-bottom: 4vw;
                width: 95%;
            }

            @media all and (max-width:500px) {
                width: 90%;
            }

            .title-box {
                display: flex;
                flex-direction: row-reverse;

                @media all and (max-width:1024px) {
                    flex-direction: column;
                    margin-bottom: 4vw;
                }

                .en-title {
                    @include enTitle();
                    color: #aa6a2b;
                    writing-mode: vertical-rl;

                    @media all and (max-width:1024px) {
                        writing-mode: horizontal-tb;
                    }

                    &:after {
                        display: inline-block;
                        content: "";
                        border-top: 2px solid #40210f;
                        height: 5vw;
                        transform: translateY(0.7rem);

                        @media all and (max-width:1024px) {
                            height: 0vw;
                            transform: translateY(-0.5rem);
                            width: 14.3vw;
                            margin-left: 2vw;
                        }

                        @media all and (max-width:500px) {
                            width: 12vw;
                            border-top: 1px solid #40210f;
                            transform: translateY(-0.3rem);
                        }
                    }

                    &:before {
                        display: none;
                        content: "";
                        border-top: 2px solid #40210f;
                        width: 8.8vw;
                        margin-right: 2vw;
                        transform: translateY(-0.5rem);

                        @media all and (max-width:1024px) {
                            display: inline-block;
                            width: 14.3vw;
                        }

                        @media all and (max-width:500px) {
                            width: 12vw;
                            border-top: 1px solid #40210f;
                            transform: translateY(-0.3rem);
                        }
                    }
                }

                .zh-title-box {

                    width: 100%;
                    @include zhTitle();

                    .zh-title {

                        writing-mode: vertical-rl;
                        border-left: 2px solid #40210f;
                        padding-left: 0.8vw;

                        @media all and (max-width:1024px) {
                            writing-mode: horizontal-tb;
                            border-left: none;
                            padding-left: 0vw;
                            border-bottom: 2px solid #40210f;
                            padding: 0vw 0vw 3vw 0vw;
                            width: 100%;
                            text-align: center;
                        }

                        @media all and (max-width:500px) {
                            border-bottom: 1px solid #40210f;
                        }
                    }
                }

            }

            .content-text-box {
                @include zhContent();
                writing-mode: vertical-rl;
                height: 22vw;
                text-orientation: upright;
                margin-right: 3.5vw;

                @media all and (max-width:1024px) {
                    writing-mode: horizontal-tb;
                    margin-right: 0vw;
                    height: auto;
                }
            }
        }

    }

    .right {
        text-align: right;
        align-self: center;

        img {
            width: 87%;


            @media all and (max-width:1024px) {
                width: 100%;
            }
        }
    }
}