.card7 {
    width: 100%;
    background-image: url(/images/c7_bg_1.webp);
    background-size: 100%;
    position: relative;
    display: flex;
    padding: 3vw 8vw 0vw 8vw;
    overflow: hidden;

    @media all and (max-width:1024px) {
        padding: 0vw;
    }

    .c7-contanier {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;

        .banner-box4 {
            display: flex;
            width: 100%;
            position: relative;

            img {
                width: 100%;
            }

            .hint {
                @include hint();
                right: 2vw !important;
                bottom: 3vw !important;
            }
        }

        .banner-box5 {
            display: flex;
            justify-content: right;
            width: 100%;
            overflow: hidden;
            margin-top: 2vw;

            @media all and (max-width:1024px) {
                width: 90%;
                margin: 0 auto;
                margin-top: 7vw;
            }


            .swiper5 {
                position: relative;
                width: 100%;
                display: flex;

                .swiper-slide {
                    position: relative;
                    overflow: hidden;
                }


                .hint {
                    @include hint();
                }

                .swiper-slide img {

                    width: 100%;

                }

                .banner-box5-controller-moblie {
                    display: none;

                    @media all and (max-width:1024px) {
                        display: block;
                    }

                    .prev5 {
                        display: block;
                        position: absolute;
                        top: 20vw;
                        left: 2vw;
                        z-index: 999;
                        cursor: pointer;

                        img {
                            width: 100%;

                            @media all and (max-width:500px) {
                                width: 70%;
                            }
                        }
                    }

                    .next5 {
                        display: block;
                        position: absolute;
                        top: 20vw;
                        right: 2vw;
                        z-index: 999;
                        cursor: pointer;
                        text-align: right;

                        img {
                            width: 100%;

                            @media all and (max-width:500px) {
                                width: 70%;
                            }
                        }
                    }
                }

            }
        }

        .banner-box5-controller {
            margin-top: 0.5vw;
            display: flex;
            width: 100%;
            justify-content: right;

            @media all and (max-width:1024px) {
                display: none;
            }

            .prev5 {
                z-index: 999;
                margin-right: 0.8vw;
                cursor: pointer;

                img {
                    width: 100%;

                    @media all and (max-width:500px) {
                        width: 70%;
                    }
                }
            }

            .next5 {
                z-index: 999;
                cursor: pointer;

                img {
                    width: 100%;

                    @media all and (max-width:500px) {
                        width: 70%;
                        border: 1px solid red;
                    }
                }
            }
        }

        .banner-box6 {
            display: flex;
            justify-content: right;
            width: 100%;
            overflow: hidden;
            margin-top: 2vw;
            margin-bottom: 2vw;
            position: relative;

            @media all and (max-width:1024px) {
                width: 90%;
                margin: 0 auto;
                margin-top: 7vw;
            }

            .swiper6 {
                position: relative;
                width: 100%;

                .swiper-slide {
                    width: 100%;
                    overflow: hidden;
                    display: flex;

                    .hint {
                        @include hint();
                        bottom: 2vw !important;
                    }

                }

                .swiper-slide img {
                    width: 100%;
                }

                .swiper-pagination-bullet {
                    background: rgb(255, 255, 255, 50%);
                    opacity: 1
                }

                .swiper-pagination-bullet-active {
                    background: white;
                }

                .prev6 {
                    position: absolute;
                    top: 13vw;
                    left: 22vw;
                    z-index: 999;
                    cursor: pointer;

                    @media all and (max-width:1024px) {
                        top: 27vw;
                        left: 2vw;
                    }

                    img {
                        width: 100%;

                        @media all and (max-width:500px) {
                            width: 70%;

                        }
                    }
                }

                .next6 {
                    position: absolute;
                    top: 13vw;
                    right: 22vw;
                    z-index: 999;
                    cursor: pointer;

                    @media all and (max-width:1024px) {
                        top: 27vw;
                        text-align: right;
                        right: 2vw;
                    }

                    img {
                        width: 100%;

                        @media all and (max-width:500px) {
                            width: 70%;
                        }
                    }
                }
            }

        }
    }

}