.c8-form {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(/images/form_bg_1.webp);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;


    .top-bird {
        position: absolute;
        right: 24vw;
        top: 4vw;
        width: 10%;

        @media all and (max-width:1024px) {
            width: 20%;
            right: 23vw;
            top: 6vw;
        }
    }

    .left-flower {
        position: absolute;
        left: -3vw;
        bottom: 5vw;
        width: 22%;

        @media all and (max-width:1024px) {
            position: relative;
            width: 33%;
            left: -5vw;
        }
    }

    .left-bird {
        position: absolute;
        left: 8vw;
        bottom: 20vw;
        width: 10%;

        @media all and (max-width:1024px) {
            left: 10vw;
            bottom: 27vw;
            width: 18%;
        }
    }

    .right-flower {
        position: absolute;
        right: -6vw;
        bottom: -5vw;
        width: 40%;
        z-index: 0;

        @media all and (max-width:1024px) {
            right: -10vw;
            bottom: -4vw;
            width: 53%;
        }
    }

    .top-title {
        display: flex;
        width: 100%;
        justify-content: center;
        padding-top: 8vw;
        position: relative;

        @media all and (max-width:1024px) {
            padding-top: 18vw;
        }

        .title {
            display: flex;
            width: 50%;
            justify-content: center;

            @media all and (max-width:1024px) {
                width: 100%;
            }

            .left {
                display: block;
                width: 38%;

                @media all and (max-width:1024px) {
                    display: none;
                }

                img {
                    margin-left: 5vw;
                    width: 90%;
                }
            }

            .right {
                display: flex;
                flex-direction: column;
                width: 70%;
                justify-content: center;

                @media all and (max-width:1024px) {
                    width: 100%;
                }

                .logo {
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    margin-bottom: 1vw;

                    img {
                        width: 55%;

                        // @media all and (max-width:1024px) {
                        //     width: 65%;
                        // }
                    }
                }

                .title-text1 {

                    font-size: 2vw;
                    font-family: 'Noto Serif TC';
                    font-weight: 700;
                    width: 100%;
                    justify-content: center;
                    display: flex;
                    color: #40210f;

                    @media all and (max-width:1024px) {
                        font-size: 5.7vw;
                        margin-top: 2vw;
                    }
                }

                .title-text2 {
                    display: flex;
                    font-size: 1.4vw;
                    font-family: 'Noto Serif TC';
                    font-weight: 700;
                    color: #ce4805;
                    justify-content: center;
                    display: flex;
                    margin-top: 0.5vw;

                    @media all and (max-width:1024px) {
                        font-size: 4vw;
                    }

                    .text1 {

                        &:before {
                            display: inline-block;
                            content: "";
                            border: 2px solid #40210f;
                            height: 1.5vw;
                            transform: translateY(0.5rem);
                            margin-right: 1vw;

                            @media all and (max-width:1024px) {
                                height: 4.5vw;
                                margin-right: 2vw;
                                border: 2px solid #40210f;
                            }

                            @media all and (max-width:500px) {
                                height: 5vw;
                                transform: translateY(0.4rem);
                                border: 1px solid #40210f;
                            }
                        }

                        &:after {
                            display: inline-block;
                            content: "";
                            border: 2px solid #40210f;
                            height: 1.5vw;
                            margin-left: 1vw;
                            margin-right: 1vw;
                            transform: translateY(0.5rem);

                            @media all and (max-width:1024px) {
                                height: 4.5vw;
                                margin-left: 2vw;
                                margin-right: 2vw;
                            }

                            @media all and (max-width:500px) {
                                height: 5vw;
                                transform: translateY(0.4rem);
                                border: 1px solid #40210f;
                            }
                        }
                    }

                    .text2 {

                        &:after {
                            display: inline-block;
                            content: "";
                            border: 2px solid #40210f;
                            height: 1.5vw;
                            margin-left: 1vw;
                            margin-right: 1vw;
                            transform: translateY(0.5rem);

                            @media all and (max-width:1024px) {
                                height: 4.5vw;
                                margin-left: 2vw;
                                margin-right: 2vw;
                            }

                            @media all and (max-width:500px) {
                                height: 5vw;
                                transform: translateY(0.4rem);
                                border: 1px solid #40210f;
                            }
                        }
                    }


                    .text3 {
                        text-align: center;


                        &:after {
                            display: inline-block;
                            content: "";
                            border: 2px solid #40210f;
                            height: 1.5vw;
                            margin-left: 1vw;
                            transform: translateY(0.5rem);

                            @media all and (max-width:1024px) {
                                height: 4.5vw;
                                margin-left: 2vw;
                            }

                            @media all and (max-width:500px) {
                                height: 5vw;
                                transform: translateY(0.4rem);
                                border: 1px solid #40210f;
                            }
                        }
                    }
                }
            }
        }
    }

    .sub-title {
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-top: 2vw;

        @media all and (max-width:1024px) {
            flex-direction: column-reverse;
            width: 100%;
            padding-left: 18vw;
            margin-top: 8vw;
        }

        .center-phone-box {
            display: flex;
            justify-content: center;

            @media all and (max-width:1024px) {
                justify-content: left;
                margin-top: 2vw;
            }

            .square {
                border: 1px solid #40210f;
                color: #40210f;
                @include square();
            }

            .center-phone {
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: #40210f;
                font-size: 1vw;
                font-family: 'Noto Serif TC';
                font-weight: 700;
                font-size: 1.2vw;
                margin-left: 1vw;

                a[href^=tel] {
                    text-decoration: inherit;
                    color: #331e0a;
                }

                @media all and (max-width:1024px) {
                    font-size: 3.6vw;

                }
            }
        }

        .address-center-box {
            display: flex;
            justify-content: center;
            margin-left: 3vw;

            @media all and (max-width:1024px) {
                justify-content: left;
                margin-left: 0vw;
            }

            .square {
                border: 1px solid #40210f;
                color: #40210f;
                @include square();
            }

            .address-center {
                margin-left: 1vw;
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: #40210f;
                font-weight: 700;
                font-size: 1.2vw;
                text-align: center;
                font-family: 'Noto Serif TC';

                @media all and (max-width:1024px) {
                    font-size: 3.6vw;
                }
            }
        }
    }

    .moblie-flower {
        display: none;

        @media all and (max-width:1024px) {
            display: flex;
            width: 50%;
            justify-content: center;
            margin: 0 auto;

        }
    }

    .form-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3vw;
        margin-top: 7vw;
        z-index: 2;

        .form-title {
            width: 100%;
            display: flex;
            justify-content: center;



            .title {
                font-family: 'Noto Serif TC';
                font-weight: 700;
                font-size: 1.5vw;

                @media all and (max-width:1024px) {
                    font-size: 3.8vw;
                    color: #40210f;
                    font-weight: 700;
                    text-align: center;
                    font-family: "Noto Serif TC";
                }

                @media all and (max-width:500px) {
                    margin-bottom: 3vw;
                }
            }

            .title-img-left {
                text-align: left;


                @media all and (max-width:1024px) {
                    text-align: right;
                    margin-right: 2vw;

                }

                @media all and (max-width:500px) {
                    width: 30%;
                }

                img {
                    width: 70%;

                    @media all and (max-width:1024px) {
                        width: 60%;
                    }

                    @media all and (max-width:500px) {
                        width: 40%;
                    }
                }
            }

            .title-img-right {
                text-align: right;

                @media all and (max-width:1024px) {
                    text-align: left;
                    margin-left: 2vw;
                }

                @media all and (max-width:500px) {
                    width: 30%;
                }

                img {
                    width: 70%;

                    @media all and (max-width:1024px) {
                        width: 60%;
                    }

                    @media all and (max-width:500px) {
                        width: 40%;
                    }
                }
            }
        }

        .main-form-box {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2vw;

            .main-form {
                width: 40%;
                display: flex;
                margin: 0 auto;
                flex-direction: column;

                @media all and (max-width:1024px) {
                    width: 90%;
                }

                .name-box {
                    @include formContent();
                    display: flex;

                    .name-title {
                        span {
                            color: #ff0000;
                        }
                    }

                    input {
                        @include formInput();
                    }
                }

                .email-box {
                    @include formContent();

                    .email-title {
                        span {
                            color: #ff0000;
                        }
                    }

                    input {
                        @include formInput();
                    }
                }

                .phone-box {
                    @include formContent();

                    .phone-title {
                        span {
                            color: #ff0000;
                        }
                    }



                    input {

                        @include formInput();

                    }
                }

                .message-box {
                    @include formContent();
                    flex-direction: column;
                    margin-bottom: 0vw;

                    .message-title {
                        span {
                            color: #ff0000;
                        }
                    }

                    textarea {
                        margin-top: 0.5vw;
                        width: 100%;
                        height: 11vw;
                        resize: none;
                        border: none;
                        background: none;

                        @media all and (max-width:1024px) {
                            height: 30vw;
                        }
                    }

                }

                .check-box {
                    font-size: 0.9vw;
                    font-family: '微軟正黑體';
                    color: #331e0a;
                    width: 100%;
                    letter-spacing: 0.1em;
                    margin: 2vw 0vw;

                    @media all and (max-width:1024px) {
                        font-size: 3vw;
                        margin: 5vw 0vw;
                    }

                    #checkbox {
                        transform: scale(1.5) translateY(-1px);
                        margin-right: 0.3vw;

                        @media all and (max-width:1024px) {
                            transform: scale(2) translateY(-2px);
                        }

                        @media all and (max-width:500px) {
                            transform: scale(1) translateY(2px);
                        }
                    }
                }

                .send-btn-box {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    #send-btn {
                        background-color: #ce4805;
                        font-family: '微軟正黑體';
                        color: white;
                        letter-spacing: 0.1em;
                        font-size: 1vw;
                        border: none;
                        border-radius: 30px;
                        padding: 0 25px;
                        line-height: 55px;
                        cursor: pointer;
                        @media all and (max-width:1024px) {
                            font-size: 3.2vw;
                            line-height: 6vw;
                            padding: 0 2.7vw;
                            border-radius: 3vw;
                        }

                        @media all and (max-width:500px) {
                            font-size: 4vw;

                            padding: 0.5vw 3.5vw;
                            border-radius: 4vw;
                            line-height: 7vw;

                        }
                    }
                }
            }
        }
    }
}